<div class="container w-100">
    
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-moonspace text-center">Sejam bem vindos</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-moonspace"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magnam dignissimos voluptate pariatur ab quae. 
                Minima non nemo perspiciatis suscipit, 
                maiores blanditiis pariatur eaque corrupti tempore quibusdam cum vitae labore officiis!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Ipsa nemo corrupti voluptate nam eveniet blanditiis eaque facilis esse sapiente sequi expedita excepturi pariatur ab consequuntur, 
                corporis cupiditate perspiciatis, autem officia.
            </p>
        </div>
    </div>

</div>    
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>
